model_training/data/**
model_training/models/saved_models/*
model_training/testing/reports/*
data/
*.txt
*.json
*.pickle
*.ipynb
model_training/snippet_creation

**/__pycache__/**
__*

.* 
!/.gitignore
